body{
  text-align: center;
  
}
.productContainer{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.productContainer > .link {
  align-items: center;
  text-align: center;
  width: 320px;
  box-shadow: 0 0  10px #777774 ;
  margin: 10px;
  text-decoration: none;
}
.txt{
  color: rgb(102, 0, 102);
 
}
.link{

align-content: center;
  text-align: center;
  width: 320px;
  box-shadow: 0 0  10px #777774 ;
  margin: 10px;
  text-decoration: none;
}


